.user_stories_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_story_loader_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.failure_view_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_story_failure_img {
  height: 50px;
  width: 50px;
}

.failure-heading {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
  align-self: center;
}

.failure_button {
  height: 28px;
  width: 120px;
  padding: 8px 24px 8px 24px;
  border-radius: 8px;
  gap: 8px;
  background: #4094ef;
  color: #ffffff;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
}

.slider-container {
  width: 80%;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .slider-container {
    width: 70vw;
  }
}

.story-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slick-prev:before,
.slick-next:before {
  color: #989898;
}

.story-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: 5px;
}
@media screen and (min-width: 768px) {
  .story-img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
}
.user_name {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #262626;
  align-self: center;
}
